.d3-chart {
    svg, table {
        text {
            font-family:$body-font;
        }
    }

    h3 {
        font-size:150%;
    }

    h2, h3, h4, h5, h6 {
        margin-top:0;
    }

    h5, h6 {
        font-weight: normal;
    }

    h6 {
      font-size:0.75rem;
      color: #666;
      margin:0 auto;
   }

}

#statedata, #datatable_wrapper {
   margin-bottom:2rem;
}

#datatable_wrapper, #datatable {
   max-width: 750px;
   margin:0 auto;
   font-family:$body-font;

   td {
      border-left: 0;
      border-width: 0;
   }

   .even {
      background-color: #eee;
   }
}

#datatable_length, #datatable_filter {
   padding: 10px;
   background-color: #eee;
   border-radius: 5px;
   margin:0 auto 2rem;

   input {
      height:1.5rem;
   }
}

#datatable_info {
   color:#999;
}

#datatable_info, #datatable_paginate {
   margin: 0 auto;
   display: block;
   width: 80%;
   clear: both;
   text-align: center;
   float:none;

   a {
      box-shadow: none;
   }
}

div.tooltip {
       position: absolute;
       text-align: left;
       padding: 5px;
       font-size: 14px;
       font-weight: bold;
       background: lightsteelblue;
       border: 0px;
       border-radius: 8px;
       font-family: "Akkurat",sans-serif;
       width:150px
   }

   .tooltip p {
       margin: 0;
       padding: 0;
   }
