.d3-chart {
    svg, table {
        text {
            font-family:$body-font;
        }
    }

    h3 {
        font-size:150%;
    }

    h2, h3, h4, h5, h6 {
        margin-top:0;
    }

    h5, h6 {
        font-weight: normal;
    }

    h6 {
      font-size:0.75rem;
      color: #666;
      margin:0 auto;
   }

}

#datatable_length, #datatable_filter {
   padding: 10px;
   background-color: #eee;
   border-radius: 5px;
}

div.tooltip {
       position: absolute;
       text-align: left;
       padding: 5px;
       font-size: 14px;
       font-weight: bold;
       background: lightsteelblue;
       border: 0px;
       border-radius: 8px;
       font-family: "Akkurat",sans-serif;
       width:150px
   }

   .tooltip p {
       margin: 0;
       padding: 0;
   }
